Library/
Temp/
Obj/
Build/
Builds/
Logs/

.vs/
.gradle/

*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs

Visually Difficult/UserSettings/
Visually Difficult/UserSettings/Layouts/default-2021.dwlt
Visually Difficult/UserSettings/EditorUserSettings.asset
Visually Difficult/UserSettings/Layouts/default-2021.dwlt
